/* HEADER */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    z-index: 99999;
  }

/* MENU */
  .navbar-nav {
    margin: 0 10px;
    max-width: 700px;
    overflow: hidden;
  }

  .nav-item {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0 5px;
  }

  .nav-item a {
    color: #ddd;
  }

  .nav-item a:hover {
    color: rgb(255, 195, 104);
  }

  .meniu-cos-container {
    color: #ddd;
    /* border: 1px solid red; */
    display: flex;
    margin-right: 40px;
    align-items: center;
    cursor: pointer;
    width: 163px;
    padding: 10px 0;
    font-weight: bold;
    justify-content: space-evenly;
    border-radius: 5px;
    user-select: none;
  }

  .meniu-cos-container:hover {
    background-color: #4b4f53;
    text-decoration: none;
    color: #ddd;
  }

  .cos-icon {
    height: 30px;
  }

  .meniu-cos-nrCarti {
    background-color: #ddd;
    border-radius: 50%;
    color: #343a40;
    width: fit-content;
    height: fit-content;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 7px;
    line-height: normal;
    font-weight: bold;
    user-select: none;
  }

  .meniu-search-btn {
    background-color: #ddd;
    border: none;  
    color: #343a40;
  }

  .meniu-search-btn:hover, .meniu-search-btn:active, .meniu-search-btn:focus {
    background-color: #fff !important;
    color: #343a40 !important;
  }

/* MAIN-CONTENT */
  .main-content {
    padding: 10px;
    position: fixed;
    top: 76px;
    display: flex;
    justify-content: space-around;
    left: 0;
    right: 0;
    bottom: 40px;
    flex-wrap: wrap;
  }

  .left-section, .right-section {
    width: 46%;
    overflow: hidden;
    max-height: 100%;
  }

  .new-books, .popular-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    height: 94%;
  }

  .new-books::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(52,58,64,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .new-books::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }

  .new-books::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(52,58,64,.3);
    background-color: #555;
  }

  .card-style {
    flex: 0 0 22%;
    height: fit-content;
  }

  .card-img-top {
    height: 200px;
    border-bottom: 1px solid #ddd;
  }

  .card-body {
    text-align: center;
    padding: 0.7rem;
  }

  .card-text {
    font-size: 15px;
  }

  .section-name {
    border-bottom: 2px solid #343a40;
    padding: 5px;
  }

/* FOOTER */
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
  }

  .copyright {
    text-align: center;
    margin: 0;
  }

  .copyright a {
    color: #ddd;
  }

  .copyright a:hover {
    text-decoration: none;
  }

/* DOMENII */
  .container-carti-domeniu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .domeniu-titlu {
    height: fit-content;
    padding-left: 15px;
  }

  .card-style-domeniu {
    flex: 0 0 15%;
    margin: 10px 15px;
  }

  .domeniu-content {
    display: block;
  }

  .domeniu-titlu_pagination {
    display: flex;
  }

  .domeniu-detalii-btn, .firstPage-detalii-btn {
    background-color: #343a40;
    border:none;
    padding: 10px 30px;
  }

  .domeniu-detalii-btn:hover, .firstPage-detalii-btn:hover {
    background-color: #4b4f53
  }

/* CARTE */
  .carte-section-left {
    width:60%;
  }

  .carte-section-right {
    width: 40%;
  }

  .carte-coperta {
    height: 500px;
    padding-right: 20px;
  }

  .carte-content {
    justify-content: flex-start;
  }

  .carte {
    display: flex;
    height: fit-content;
    width: 60%;
    padding: 10px;
  }

  .comentarii {
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 2px solid #ddd;
    padding-left: 10px;
    height: 100%;
  }

  .comentarii::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(52,58,64,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .comentarii::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }

  .comentarii::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(52,58,64,.3);
    background-color: #555;
  }

  .comentarii-titlu, .adauga-coment-titlu {
    padding: 0 5px;
    width: 100%;
    padding-bottom: 5px;
  }

  .comentariu {
    margin: 5px;
  }

  .triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ddd;
    position: relative;
    top: -40px;
  }

  .comentariu-user {
    padding: 0 10px 0 5px;
    display: inline-block;
  }
  
  .comentariu-text {    
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    width: fit-content;
    text-transform: capitalize;
  }

  .comentariu-data {
    float: right;
    padding-right: 5px;
  }

  .carte-titlu {
    margin: 0;
  }

  .carte-descriere {
    max-height: 350px;
    overflow-y: auto;
    margin: 10px 0;
    padding: 10px 10px 10px 0;
    text-align: justify;
  }

  .carte-descriere-quotes {
    display: inline;
  }

  .carte-descriere::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  .carte-descriere::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
  }
  
  .carte-descriere::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }

  .carte-cumpara-btn {
    background-color: #343a40;
    border: #343a40;
    color: #ddd;
  }

  .carte-cumpara-btn:hover, .carte-cumpara-btn:active {
    background-color: #ddd !important;
    color: #343a40 !important;
    outline: none !important;
  }

  .btn-primary:focus {
    box-shadow: none !important;
  }

  .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
  }

  .carte-adauga-coment {
    width: 100%;
    height: fit-content;
    padding: 10px;
  }

  .adauga-coment-titlu {
    margin-bottom: 10px;
  }

  .carte-coment-box {
    background-color: #ddd;
    border: 2px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    height: 230px;
    padding: 10px
  }

  .coment-box-input {
    width: 50%;
    height: 40px;
    padding: 0 10px;
  }

  .coment-box-textarea {
    padding: 10px;
    resize: none;
  }

  .coment-box-btn {
    background-color: #343a40;
    border: 1px solid #343a40;
    color: #ddd;
    margin-top: 10px;
    padding: 0 20px;
    cursor: pointer;
  }

  .coment-box-btn:hover, .coment-box-btn:active {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    color: #343a40 !important;
    outline: none !important;
  }

  .sterge-comentariu {
    width: fit-content;
    display: inline-block;
  }

  .sterge-comentariu-btn {
    background-color: none;
    color: #343a40;
    border: none;
  }

/* COS */
  .cos-container-title {
    height: fit-content;
    border-bottom: 1px solid #343a40;
  }

  .cos-container {
    padding: 15px;
    display: block;
    width: 50%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .cos-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(52,58,64,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .cos-container::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }

  .cos-container::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(52,58,64,.3);
    background-color: #343a40;
  }

  .cos-container-carte {
    border-top: 1px solid #ddd;
    padding: 10px;
    display: flex;
  }

  .cos-carte-img {
    height: 200px;
  }

  .cos-carte-detalii {
    padding: 0 10px;
  }

  .cos-carte-detalii2 {
    text-align: right;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .cos-carte-cantitate {
    width: 50%;
    padding: 5px;
    margin-left: 15px;
  }

  .cos-carte-pret-total {
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }

  .cos-carte-sterge {
    border: 1px solid #ddd;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: #ddd;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cos-carte-sterge:hover {
    color: #343a40;
    text-decoration: none;
    border: 1px solid #343a40;
  }

  .cos-summary {
    background-color: #343a40;
    color: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .cos-summary-text {
    margin-left: 10px;
    margin-bottom: 0;
  }

  .cos-container-pretTotal {
    display: flex;
    text-align: right;
    background-color: #343a40;
    color: #ddd;
    border-radius: 5px 5px 0 0;
    padding-top: 15px;
  }

  .cos-pretTotal2 {
    padding-right: 20px;
  }

  .cos-actiuni {
    display: flex;
    background-color: #343a40;
    border-top: 5px solid #fff;
    border-radius: 0 0 10px 10px;
  }

  .cos-actiuni-continua {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
  }

  .cos-actiuni-casa {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px 10px 0;
  }

  .cos-actiuni-linkCasa, .cos-actiuni-linkContinua {
    color: #ddd;
  }

  .cos-actiuni-linkCasa:hover, .cos-actiuni-linkContinua:hover {
    color: #ddd;
    text-decoration: none;
  }

  .cos-actiuni-linkCasa {
    margin-right: 10px;
  }

  .cos-actiuni-linkContinua {
    margin-left: 10px;
  }

  .cos-notif {
    color: #a9a9a9;
    padding-left: 10px;
    margin-bottom: 5px;
  }

  .cos-modifica-btn, .cos-reset-btn {
    border: 1px solid #ddd;
    padding: 10px 50px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
    color: #343a40;
    margin: 5px 5px;
  }

  .cos-modifica-btn:hover, .cos-reset-btn:hover {
    background-color: #a9a9a9;
    text-decoration: none;
    color: #343a40;
  }

  .cos-modifica {
    text-align: right;
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
  }
/* CASA */
  .casa-container {
    padding: 15px;
    display: block;
    width: 50%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .casa-container-title, .casa-container-detalii {
    height: fit-content;
    border-bottom: 1px solid #343a40;
  }

  .casa-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
  }

  .casa-item:nth-child(odd) {
    background-color: #f5f5f5;
  }

  .casa-item:nth-child(even) {
    background-color: #f0f0f0;
  }

  .casa-item:nth-child(1) {
    background-color: #fff;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .casa-item > p {
    margin-bottom: 0;
  }

  .casa-pret-total {
    padding: 5px;
    text-align: right;
    font-size: 20px;
    display: flex;
  }

  .casa-detalii {
    display: flex;
    flex-direction: column;
  }

  .casa-detalii-textarea {
    resize: none;
  }

  .casa-detalii-input, .casa-detalii-textarea, .casa-detalii-btn {
    margin: 5px 0;
    padding: 5px;
  }

  .casa-detalii-input:focus, .casa-detalii-textarea:focus, .casa-detalii-btn:focus {
    outline: none;
  }

  .casa-detalii-btn {
    background-color: #343a40;
    border: none; 
    font-size: 20px;
  }

  .casa-detalii-btn:hover, .casa-detalii-btn:active {
    background-color: #ddd !important;
    color: #343a40 !important;
  }
/* MULTUMIM */
  .jumbotron {
    background-color: #ddd;
    width: 50%;
    margin: 0 auto;
    height: fit-content;
  }

  .multumim-btn {
    background-color: #343a40;
    border: none;
  }

  .multumim-btn:hover, .multumim-btn:active {
    background-color: #fff;
    color: #343a40;
  }
/* CAUTARE */
  .cautare-content {
    display: block;
  }

  .cautare-titlu {
    height: fit-content;
  }

  .cautare-list {
    display: flex;
    flex-wrap: wrap;
  }

  .cautare-blockquote {
    display: flex;
    max-height: 195px;
    width: 100%;
    flex-wrap: wrap;
  }

  .cautare-blockquote > a {
    width: 20%;
    padding: 5px;
  }

  .cautare-descriere {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  .cautare-descriere > a {
    width: 100%;
  }
/* AUTORI */
  .autor-imagine {
    height: 500px;
    padding-right: 20px;
    float: left;
  }

  .autor-section-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
  }

  .autor-section-right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(52,58,64,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .autor-section-right::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }

  .autor-section-right::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(52,58,64,.3);
    background-color: #555;
  }

  .autor-section-right > div {
    margin: 5px 0;
  }

  .autor-section-left {
    padding: 10px;
  }

  .autor-descriere {
    text-align: justify;
    max-height: 700px;
  }

  .autor-detalii {
    color: #343a40;
  }

  .autor-detalii:hover {
    text-decoration: none;
    color: #ddd;
  }